:root {
    --bright-color: rgb(232, 102, 236);
    /* Make sure to adjust the gradient separately under card-code*/
    --dark-color: rgb(55, 56, 58);
}

* {
    font-family: 'Courier New', Courier, monospace;
}

Header {
    padding-bottom: 30px;
}

header h1 {
    color: var(--bright-color);
    font-size: 300%;
    font-weight: bold;
    text-align: center;
}

header p {
    color: white;
    text-align: center;
    line-height: 20px;
    font-style: italic;
}

body {
    background-color: var(--dark-color);
}

.deck {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    border: dashed white 2px;
    margin-top: 40px;
    margin-left: 20px;
    color: var(--bright-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 26%;
}

.card-header {
    background-color: var(--dark-color);
    border: solid white 2px;
    border-radius: 6px;
    position: relative;
    width: 80%;
    margin-top: -20px;
    padding: 5px;
    font-weight: bold;
    font-size: 180%;
}

.card-face {
    padding-top: -15px;
    padding-bottom: 15px;
    width: 90%;
}

.card-code {
    /* Linear Gradient*/
    background-image: linear-gradient(
        rgba(232, 102, 236, 0.3) 0%,
        rgba(232, 102, 236, 0.6) 100%
    );
    color: white;
    border-radius: 20px;
    padding: 3px;
}

pre {
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

.all {
    -moz-user-select: all;
    -webkit-user-select: all;
    -ms-user-select: all;
    user-select: all;
}

/* Box Transition Glow */
.card-header .card-code {
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
}

.card:hover,
.card:hover
.card-header {
    box-shadow: inset 0px 0px 8px rgba(232, 102, 236, 1), 0 0 15px rgba(232, 102, 236, 1);
}

footer {
    text-align: center;
    color: var(--bright-color);
}

span {
    color: red;
    font-size: 180%;
    font-weight: bold;
}